*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1{
    padding-top: 15%;
    color: white;

}



#cuerpo{
    margin: 0 auto;
    background-color:#d49e23;
    width: 900px;
    height: 1200px;
}
#cabecera{
    background-color:#d9bd1f ;
    background-image: url(/img/imagenHearder.jpeg);
    text-align: center;
    margin: 0 auto;
    height: 25%;
}
#navegacion{
    margin: 0 auto;
    text-align: center;
    height: 5%;
    background-color: #713505;
}
    #imagen1{
    margin-left: 50%;
    
   }
   
   #imagenes{
    
    float: right;

   } 
   #imagenes2{
    padding-bottom: 50%;
    float:left;
   } 
   #imagen1{
       
       display: block ;
       padding: 1px;
       display: inline-block;
   }
   #imagen2{
    display: block ;
    padding: 1px;
    display: inline-block;
    margin-right: 50%;
   }
#seccion1{
    height: 30%;
    
    
    background-color: #b01a1c;
    border: 2px solid #68531e;
}
#seccion2{
    height: 30%;
    
    background-color: #dcc43c;
    
    border: 2px solid #68531e;
}
#pie{
    margin-top: 200px;
    height: 2%;
    background-color: #744607;
    color: white;
    text-align: center;
    
}
p{
    font-size: 12px;
    width: 35%;
}
#parrafo2{
    height: 5px;
   
   margin-left: 550px;
}
ul{
    
}
img{
    width: 100px;
    height: 100px;
    border: solid 1px;
    margin-right: 5px;
    margin-left: 5px;
    
}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;
    outline: none;
    text-decoration: none;
}
a{
    outline: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    
}
